<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Table</title>
    <style>
        h1  {
            color: green;
            text-align: center;

        }
        th,td {
            border: 4px solid orange;
            padding: 8px;
            margin: 10px;
            font-family: "Adobe Caslon Pro";
        }
        table{
             border-collapse: collapse;
    width: 100%;

        }
        body{
            background-color:greenyellow;

        }
    </style>
</head>
<body>
<h1>Inventory</h1>
<table>
    <tr>
        <th>Equipment</th>
        <th>Hire Price /day</th>
        <th>Buying Price</th>
    </tr>
    <tr>
        <td>Global Navigation Satellite System(GNSS)</td>
        <td>
            $100 <button><a href="Hire"> hire</a></button>
        </td>
        <td>$180000</td>
    </tr>
    <tr>
        <td>Total Station</td>
        <td>$ 300 </td>
        <td>$10000</td>
    </tr>
    <tr>
        <td>Electronic distance meter(EDM)</td>
        <td>$ 500 </td>
        <td>$8000</td>
    <tr>
    <td>Unmanned aerial Vehicle</td>
    <td>$ 1000 <a href="{% url 'hire' %}?equipment=Unmanned aerial Vehicle&price=$ 1000">Click to hire</a></td>
    <td>$80,000 <a href="Buy">Click to buy</a></td>
</tr>
    <tr>
        <td>Theodolite</td>
        <td>$750 <a href="Hire">Click to hire</a></td>
        <td>$ 8000</td>
    </tr>
    <tr>
        <td>Laser Scaner</td>
        <td>$1000 <a href="Hire">Click to hire</a></td>
        <td>$170000</td>
    </tr>
    <tr>
        <td>Hand held Gps</td>
        <td>$50 <a href="Hire">Click to hire</a></td>
        <td>$100</td>
    </tr>
    <tr>
        <td>Lever</td>
        <td>$ 150 <a href="Hire">Click to hire</a></td>
        <td>$ 500</td>
    </tr>
</table>

</body>
</html>
